<h1>モデル</h1>
<div >
  <% @tweets.each do |tweet| %>
  <div>
  <%= tweet.title %>
  </div>
  <div>
  <%# tweet.user.name %>
  </div>
  <div>
  <%= image_tag tweet.image, class: 'tweet-img' if tweet.image.attached? %>
  </div>
  <% end %>
</div>

